{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<style>
		.home {
			color: #fff;
		  }
		.home:hover {
			color: aqua;
		}
		h1 {
			font-size: clamp(3rem, 15vmin, 8rem);
			font-family: sans-serif;
			color: hsl(0 0% 98%);
		}
	</style>
  </head>
  <body class="img" style="background-image: url({% static 'img/bg.jpg' %}); height: 800px;">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
            <h1 style="text-shadow: 1px 1px black;">Log in</h1>
        </div><br/>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
				<h3 class="text-center" style="font-weight: bold; color: aquamarine; text-shadow: 2px 2px 10px black;">Have an account?</h3><br/>
              <form action="{% url 'accounts:login' %}" class="signin-form" method="post">
                {% csrf_token %}
                {% if request.GET.next %}
                  <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="Email\Username" required />
                </div>
                <div class="form-group">
                  <input id="password-field" name="password" type="password" class="form-control" placeholder="Password" required />
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">
                      Remember Me<input name="remember_me" type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="{% url 'accounts:password_reset' %}" style="color: #fff">Forgot Password</a>
                  </div>
                </div>
				<div class="w-100 text-center">
					<a class="home" href="/">Home page</a>
				</div>
              </form>
              {% comment %} <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
              <div class="social d-flex text-center">
                <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main2.js' %}"></script>
  </body>
  <!-- Main msg for all pages *********************************************************************************** -->
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'alert-success' %}
        <script>
          Swal.fire({
            icon: 'success',
            title: 'Well...',
            html: '{{message|safe}}',
            footer: '<a href="/">Home</a>'
          })
        </script>
      {% elif message.tags == 'alert-danger' %}
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            html: '{{message|safe}}',
            footer: '<a href="/">Home</a>'
          })
        </script>
      {% elif message.tags == 'alert-info' %}
        <script>
          Swal.fire({
            icon: 'info',
            title: 'Attention...',
            html: '{{message|safe}}',
            footer: '<a href="/">Home</a>'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
  <!-- Main msg for all pages *********************************************************************************** -->
</html>
