{% load static %}
{% load website_tags %}
{% for item in context %}
<div class="single-recent-blog-post item">
    <div class="thumb">
      <img class="img-fluid" src="{{item.image.url}}" alt="" style="width:360px; height:260px"/>
    </div>
    <div class="details">
      <div class="tags">
        <ul>
          {% for cat in item.category.all %}
            <li>
              <a href="{% url 'blog:category' cat %}">{{cat}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <a href="{% url 'blog:post' item.id %}"><h4 class="title">{{item}}</h4></a>
      <p>{{item.content|truncatewords:4}}</p>
      <h6 class="date">{{item.published_date|date:"dS F,Y"}}</h6>
    </div>
  </div>
  {% endfor %}