{% load humanize %}
{% load static %}
{% load blog_tags %}
<div class="single-sidebar-widget popular-post-widget">
  <h4 class="popular-title">Latest Posts</h4>
  <div class="popular-post-list">
    {% for post in context %}
      <div class="single-post-list d-flex flex-row align-items-center">
        <div class="thumb">
          <img src="{{post.image.url}}" alt=""  style="width:100px; height:60px"/>
        </div>
        <div class="details">
          <a href="{% url 'blog:post' post.id %}"><h6>{{post}}</h6></a>
          <p>{{post.published_date|naturaltime}}</p>
          {% comment %} <p>{{post.published_date|date:"M d Y"}}</p> {% endcomment %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
